@import 'tailwindcss';

@theme {
  --color-brand-black: #000000;
  --color-brand-green: #809848;
  --color-brand-white: #FDFFFC;

  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

:root { color-scheme: dark; }
html, body { height: 100%; background: var(--color-brand-black); }
